.notVisible {
    opacity: 0;
}

.visibleToUp, .visibleToLeft, .visibleToRihgt {
    transition: opacity .8s ease-in-out;
    opacity: 1;
  }
  
  .visibleToUp {
    animation: visibleToUpAnim .8s ease-in-out;
  }
  
  .visibleToLeft {
    animation: visibleToLeftAnim .8s ease-in-out;
  }

  .visibleToRight {
    animation: visibleToRightAnim .8s ease-in-out;
  }
  
  @keyframes visibleToUpAnim {
    0% {
        opacity: 0;
        transform: translateY(200px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
    
  }

@keyframes visibleToRightAnim {
    0% {
        opacity: 0;
        transform: translateX(-200px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes visibleToLeftAnim {
    0% {
        opacity: 0;
        transform: translateX(200px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

