@font-face {
  font-family: "ChakraPetch";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/ChakraPetch-Light.ttf");
}
@font-face {
  font-family: "ChakraPetch";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/ChakraPetch-Regular.ttf");
}
@font-face {
  font-family: "ChakraPetch";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/ChakraPetch-Medium.ttf");
}
@font-face {
  font-family: "ChakraPetch";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/ChakraPetch-SemiBold.ttf");
}
@font-face {
  font-family: "ChakraPetch";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/ChakraPetch-Bold.ttf");
}

.heading-8 {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}

.body-1 {
  font-weight: 300;
  line-height: 28px;
  color: var(--gray-2);
  ul {
      padding-left: 20px
  }
  li {
    list-style: disc;  
  }
}