.bounding-container {
  max-width: 1232px;
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
}

.link {
  color: var(--gray-2);
  font-weight: 300;
  cursor: pointer;
  transition: 0.3s;
  line-height: 28px;
  &:hover {
    color: var(--white);
  }
}

h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -0.5%;

  @media (max-width: 992px) {
    font-size: 40px;
  }
  @media (max-width: 568px) {
    font-size: 32px;
    line-height: 41.6px;
  }
}

.gradient_txt {
  font-weight: 500;
  letter-spacing: 14%;
  line-height: 20.8px;
  color: transparent;    
  text-transform: uppercase;
	background-clip: text;
  box-decoration-break:clone;
  background-image: var(--bg-linear);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
}

.subtitle {
  color: var(--gray-2);
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

.scroll_lock {
  overflow: hidden;
}


