.head {
    margin-top: 150px;
    position: relative;
}

.head__body {
    max-width: 790px;
    padding: 0 20px;
    margin: 0 auto;
    text-align: center;
}

.head__title {
    margin-top: 12px;
}

.head__subtitle {
    margin-top: 24px;
}

@media (max-width: 992px) {
    .head {
        margin-top: 100px;
    }

    .head__subtitle {
        margin-left: 60px;
        margin-right: 60px;
    }
}

@media (max-width: 568px) {
    .head__subtitle {
        margin-left: 0px;
        margin-right: 0px;
    }
}