.pageItem {
    margin-top: 120px;
    margin-bottom: 300px;
}

.service_head {
    transition: .8s;
    display: flex;
    justify-content: space-between;
}
.service_head_visible {
    opacity: 1;
    transform: translateY(0px);
}
.service_head_big {
    margin-top: 12px;
    white-space: nowrap;
}

.service_head_subtitle {
    max-width: 625px;
}

.service_body {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 46px;
    gap: 32px 0px;
}

@media (max-width: 992px) {
    .service_head {
        display: block;
    }

    .service_head_subtitle {
        margin-top: 12px;
    }

    .service_body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }

    .pageItem {
        margin-bottom: 150px;
    }
}

@media (max-width: 768px) {
  
    .service_body {
        grid-template-columns: 1fr;
    }

    .pageItem {
        margin-bottom: 120px;
    }
}

@media (max-width: 568px) {
 
    .pageItem {
        margin-bottom: 100px;
    }
}