
.video {
    background-color: rgba(33, 35, 46, 1);
    width: 196px;
    height: 127px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 35px;
    overflow: hidden;
    position: relative;
    transition: 0.3s;
    animation: video 1s ease-in-out;
    cursor: pointer;
    img {
        transition: 0.5s;
      }
    &:hover {
        img {
          transform: scale(1.1);
        }
        .video__play {
          transform: scale(1.3);
        }
      }
  }

.video__play {
    position: absolute;
    top: calc(50% - 14px);
    left: calc(50% - 14px);
    z-index: 2;
    transition: 0.2s;
  }

  @keyframes video {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  
  