.advantagesContainer {
  width: 100%;
  padding: 42px 64px;
  background-color: var(--black-50);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: var(--gray-linear);
  opacity: 0;
  transform: translateY(200px);
}

.visible {
  opacity: 1;
    transform: translateY(0);
    transition: .8s;
}

