.advantagesContainer {
  width: 100%;
  padding: 42px 64px;
  background-color: var(--black-50);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: var(--gray-linear);
  opacity: 0;
}

.visible {
  opacity: 1;
  animation: visibleAnimation .8s ease-in-out;
}

@keyframes visibleAnimation {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
