.choose {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choose__body {
    max-width: 546px;
    flex-shrink: 2;
}
.choose__body__title {
    margin-top: 12px;
}

.choose__body__info {
    margin-top: 32px;
}

.choose__img {
    max-width: 608px;
    margin-left: 30px;
}

.choose__img_man {
    &::after {
        left: 50%;
        transform: translateX(-50%);
    }
}

.choose__img_video {
    padding: 0;
}

@media (max-width: 768px) {
    .choose {
        flex-direction: column-reverse;
        gap: 75px;
        padding: 5px;
    }

    .choose__body {
        padding: 0 11px;
        max-width: 100%;
    }

    .choose__img {
        margin-left: 0px;
    }

    .choose__img_man  {
        img {
            margin-left: 0;
        }
    }
}

@media (max-width: 568px) {
    .choose__img_video {
        width: 145px;
        height: 95px;
    }
}