.numbers__h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    letter-spacing: -0.5%;
  
    @media (max-width: 992px) {
      font-size: 40px;
    }
    @media (max-width: 568px) {
      font-size: 32px;
      line-height: 41.6px;
    }
}