.choose {
    margin-top: 150px;
    display: flex;
    gap: 80px;
    align-items: center;
}

.choose__list {
    flex: 0 1 550px;
}

.choose__list__title {
    margin-top: 12px;
}

.choose__list__body {
    margin-top: 32px;
}

@media (max-width: 992px) {
    .choose {
        margin-top: 100px;
    } 
}

@media (max-width: 768px) {
    .choose__man img {
        margin-left: 0;
    }
    .choose__list {
        margin-top: 90px;
    }
    .choose {
        display: block;
    }

    .choose__body {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 568px) {
 .choose__video {
    height: 105px;
    width: 160px;
 }  
}