.pricing {
    margin-top: 150px;
}


.pricing__header {
    text-align: center;
    max-width: 750px;
    margin: 0 auto;
}

.pricing__title {
    margin-top: 12px;
}

.pricing__subtitle {
    margin-top: 16px;
}

.pricing__list {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}



@media (max-width: 1024px) {
    .pricing__list {
        grid-template-columns: repeat(2, 1fr);
    }

    
}



@media (max-width: 992px) {
    .pricing {
        margin-top: 100px;
    }
}

@media (max-width: 768px) {
    .pricing__list {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    
    .pricing__item {
        max-width: 359px;
        justify-self: center;
    }
    
}