.page {
    padding-top: 137px;
    @media (max-width: 992px) {
        padding-top: 50px;
    }
}

.bgAngle {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;
    pointer-events: none;
}

