$transition: 0.3s;
.menu__head {
    text-align: left;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    padding-bottom: 12px;
    width: 100%;
    transition: $transition;
}

.menu__title__icon {
    position: relative;
    width: 12px;
    height: 12px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        position: absolute;
       transition: $transition ease-in;
    }
}

.menu__title {
   font-size: 20px; 
   transition: $transition ease-in;
}

.menu_open {
    .menu__head img{
        transform: scaleY(-1);
    }

    .menu__title {
        text-shadow:
    -0.1px -0.1px 0 white,
    0.1px -0.1px 0 white,
    -0.1px 0.1px 0 white,
    0.1px 0.1px 0 white;
    -webkit-transition: all $transition;
    -moz-transition: all $transition;
    -o-transition: all $transition;
    transition: all $transition;
    }
}


.menu__description {
    margin-top: 12px;
    color: var(--gray-2);
    transition: all $transition ease-in;
    font-size: 16px;
    line-height: 28px;
    overflow: hidden;
}

.menu_withBackground {
    padding: 24px;
    background-color: var(--black-50);
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: var(--gray-linear);
    transition: $transition ease-in;
}

.menu_withBackground:not(.menu_open) {
    .menu__head  {
        padding-bottom: 0px;
        border-bottom: 1px solid transparent;
    }

    .menu__description  {
        margin-top: 0px;
    }
}

.menu_withBackground.menu_open {
    border-image-source: var(--linear-border);
}


@media (max-width: 568px) {
    .menu__title {
        font-size: 18px; 
     }

     .menu_withBackground {
        padding: 24px 14px;
     }
}