.menu {
    // display: flex;
    // flex-direction: column;
}

.menu__head {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    padding-bottom: 12px;
    width: 100%;
}

.menu__title__icon {
    position: relative;
    width: 12px;
    height: 12px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        position: absolute;
       transition: .3s ease-in;
    }
}

.menu__title {
   font-size: 20px; 
}



.menu_open {
    .menu__head img{
        transform: rotate(180deg);
    }

    

    .menu__title {
        font-weight: 500;
    }
}


.menu__description {
    margin-top: 12px;
    color: var(--gray-2);
    transition: height .5s ease-in;
    font-size: 16px;
    line-height: 28px;
    overflow: hidden;
}