.paths {
    position: relative;
    user-select: none;
}

.paths__head {
    position: relative;
    padding-right: 16px;
    &:hover {
        .paths__arrow {
            path {
                fill: var(--white)
            }
        }
        
    }
}

.paths__arrow {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    transition: .3s;
    path {
        transition: .3s;
        fill: var(--gray-1)
    }
}

.paths__body {
    overflow: hidden;
    transition: .3s;
    position: absolute;
    left: 0;
    top: 35px;
    white-space: nowrap;
    padding: 0px 25px 0px 10px;
    box-sizing: content-box;
    background-color: var(--black-50);
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: var(--gray-linear);
    pointer-events: none;
    opacity: 0;
}

.paths_open {
    .paths__head  {
        color: var(--white);
    }
    .paths__body {
        padding: 10px 25px 10px 10px;
        opacity: 1;
        pointer-events: visible;
    }

    .paths__arrow  {
        transform: translateY(-50%) rotateX(-180deg);
        path {
            fill: var(--white);
        }
        
    }
}

.path__item {
    a {
        width: 100%;
        display: block;
    }
}

.paths_activeLink {
    .paths__head {
        color: var(--white)
    }
    
    .paths__arrow {
        path {
            fill: var(--white)
        }
    }
}

@media (max-width: 768px) {
    .paths__body {
        position: static;
        white-space: nowrap;
        padding: 0px 0px 0px 10px;
        background-color: transparent;
        border: none;
    }

    .paths__head {
        display: block;
        width: 100%;
        
        
    }

    .paths__arrow  {
        width: 20px;
    }

    .paths_open {
        .paths__body {
            padding: 10px 0px 10px 10px;
        }
    }

    .path__item {
        &:first-child {
            margin-top: 0;
        }
        margin-top: 15px;
        a {
            width: 100%;
            display: block;
        }
    }
}