.headerContainer {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  padding: 32px 0;
  transition: 0.3s;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: 0.2s;
    backdrop-filter: blur(10px);
  }
}

.headerContentWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_menu {
  display: flex;
  align-items: center;
  gap: 64px;
}

.headerScroll {
  padding: 10px 0;
  &::before {
    opacity: 1;
  }
}

@media (max-width: 992px) {
  .header_menu {
    gap: 40px;
  }
}
