.headerContainer {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  padding: 32px 0;
  transition: 0.3s;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: 0.2s;
    backdrop-filter: blur(10px);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 20;

}

.header__menu {
  display: flex;
  align-items: center;
  gap: 64px;
}

.header__options {
  display: flex;
}

.headerScroll {
  padding: 10px 0;
  &::before {
    opacity: 1;
  }
}


.header__burger {
  position: fixed;
  overflow: scroll;
  top: 0;
  padding: 130px 25px 25px 25px;
  width: 100%;
  height: 100%;
  background-color: var(--black-50);
  transition: .5s;
  opacity: 0.95;
  transform: translateX(-100%);
}

.header__burger_open {
  .header__burger {
    transform: translateX(0);
  }

  &::before {
    opacity: 0.95;
    background-color: var(--black-50);
    z-index: 10;
  }
}

.burger__nav {
  display: flex;
  flex-direction: column;
  gap: 25px;
  list-style: none;
  height: 100%;

  li {
    font-size: 25px;
  }
}
.burger_contact_btn {
  margin-top: 25px;
  width: 100%;
  display: none;
}


@media (max-width: 992px) {
  .header__menu {
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .header__menu {
    display: none;
  }
}

@media (max-width: 400px) {
  .contact_btn {
    display: none;
  }
  .header__menu {
    display: none;
  }

  .burger_contact_btn {
    display: inline-block;
  }
}

