.container {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 60px;
}

.imgContainer {
    flex: 0 1 609px;
}

.body {
    flex: 0 1 562px;
}

.body_title, .body_subtitle {
    margin-top: 12px;
}

.body_list {
    margin-top: 24px;
}

.list_item {
    margin-top: 14px;
    padding-left: 28px;
    background-image: url(../../assets/icons/li_icon.svg);
    background-repeat: no-repeat;
    background-position: left center;
    line-height: 28px;
    &:first-child {
        margin-top: 0;
    }
}

.body_btn {
    margin-top: 32px;
}

.notVisible {
    opacity: 0;
}

.visibleUp, .visibleImg {
    opacity: 1;
}

.visibleUp {
    animation: visibleUpAnim .8s ease-in-out;
}

.visibleImg {
    animation: visibleImgAnim .8s ease-in-out;
}

@keyframes visibleUpAnim {
    0% {
        opacity: 0;
        transform: translateY(200px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
    
}

@keyframes visibleImgAnim {
    0% {
        opacity: 0;
        transform: translateX(-200px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
    
}

@media (max-width: 920px) {
    .container {
        display: block;
    }
    .imgContainer img{
        margin-left: 0px;
    }

    .body {
        margin-top: 48px;
    }
}

@media (max-width: 920px) and (min-width: 568px) {
    .video {
        right: unset;
        left: 331px;
    } 
}

@media (max-width: 568px) {
    .container {
        margin-top: 100px;
    }
    .video {
        height: 96px;
        width: 147px;
    }
}