
.video {
    background-color: rgba(33, 35, 46, 1);
    padding: 0px 35px;
    overflow: hidden;
    position: relative;
    transition: 0.3s;
    animation: mainVideo 1s ease-in-out;
    cursor: pointer;
    img {
        transition: 0.5s;
      }
    &:hover {
        img {
          transform: scale(1.1);
        }
        .video__play {
          transform: scale(1.3);
        }
      }
  }

.video__play {
    position: absolute;
    top: calc(50% - 14px);
    left: calc(50% - 14px);
    z-index: 2;
    transition: 0.2s;
  }
  
  