.footer {
    position: relative;
    margin-top: 64px;
    padding-bottom: 40px;
}
.footer__angle {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
}
.footer__body {
    display: flex;
    justify-content: space-between;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 244px;
}

.footer__logo {
    max-width: 101px;
}

.footer__social {
    display: flex;
    gap: 20px;
}

.footer__social__item {
    border-radius: 50%;
    width: 46px;
    height: 46px;
    background-image: url(../../assets/footerIcons/bg.svg);
    img {
        transition: .3s;
    }

    &:hover img { 
        transform: scale(1.2);
    }
}

.footer__social__link {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.footer__links {
    display: flex;
    justify-content: space-between;
    flex: 0 1 771px;
}

.footer__links__container {}

.footer__links__title {
    font-weight: 600;
    line-height: 28px;
}

.footer__links__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}

.footer__links__item {
    color: var(--gray-2);
    svg path {
        transition: .3s;
        fill: var(--gray-2);
    }
    &:hover {
        color: var(--white);
        svg path {
            fill: var(--white);
        }
    }
}
.link__img__container {
    width: 18px;
    display: flex;
    justify-content: center;
}
.footer__link_img {
    display: flex;
    gap: 11px;
    align-items: center;
}
.footer__divider {
    width: 100%;
    margin-top: 33px;
    height: 1px;
    background: var(--bg-linear);
}

.footer__copyright {
    margin-top: 32px;
    text-align: center;
    font-weight: 300;
}