.breadcrumbs {
    display: flex;
    gap: 10px;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.breadcrumbs__item_active {
    color: var(--gray-1);
    img {
        display: none;
    }
}

